#!/bin/bash
cd {{ abiotic_install_path }}/AbioticFactor/Binaries/Win64
xvfb-run wine64 AbioticFactorServer-Win64-Shipping.exe -log -newconsole -useperfthreads -NoAsyncLoadingThread -MaxServerPlayers={{ abiotic_max_players }} -PORT={{ abiotic_game_port }} -QUERYPORT={{ abiotic_query_port }} -tcp -ServerPassword={{ abiotic_server_password }} -SteamServerName="{{ abiotic_server_name }}" -WorldSaveName="{{ abiotic_world_save_name | default('Cascade') }}"
